In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
data = pd.read_csv("/content/drive/My Drive/HDFC/Train.csv")
test = pd.read_csv("/content/drive/My Drive/HDFC/Test.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
submit = pd.read_csv("/content/drive/My Drive/HDFC/Sample_submission.csv")

In [6]:
print("data:",data.shape)
print("test:",test.shape)
print("submit:",submit.shape)

data: (17521, 2395)
test: (20442, 2394)
submit: (0, 2)

In [7]:
data.head()

        Col1  Col2          Col3  ...  Col2395  Col2396  Col2397
0    RIGHGSN     1  1.086711e+04  ...     22.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     12.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...     21.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    951.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2395 columns]

In [8]:
test.head()

        Col1          Col3          Col4  ...  Col2395  Col2396  Col2397
0  RIGD58ZWD  8.167140e+04  8.614542e+04  ...     41.0     41.0     36.0
1  RIH660YDS -1.362824e+07 -4.493043e+06  ...    154.0    153.0     86.0
2  RIH660Q96  1.302700e+06  1.341449e+06  ...      3.0      1.0      1.0
3  RIYDO15W1  1.932258e+05  1.454433e+05  ...      7.0      7.0      3.0
4  RIYBGC1ZD  3.913385e+05  1.987337e+05  ...      6.0      6.0      5.0

[5 rows x 2394 columns]

In [9]:
data.describe()

               Col2          Col3  ...       Col2396       Col2397
count  17521.000000  1.752100e+04  ...  16347.000000  16335.000000
mean       0.100508  3.158967e+04  ...     17.539977     10.359657
std        0.300685  7.612897e+05  ...     24.685954     18.476447
min        0.000000 -8.555719e+07  ...      0.000000      0.000000
25%        0.000000  2.742337e+03  ...      9.000000      5.000000
50%        0.000000  9.308060e+03  ...     13.000000      7.000000
75%        0.000000  3.053873e+04  ...     21.000000     12.000000
max        1.000000  1.459355e+07  ...   2205.000000   1831.000000

[8 rows x 2392 columns]

In [0]:
submit['Col1'] = test['Col1']

In [0]:
t = data.pop('Col1')

In [0]:
x = test.pop('Col1')

In [0]:
y = data['Col2']
x = data.drop(['Col2'], axis=1)

In [0]:
# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)

# imputer = imputer.fit(x)
# x[:, :] = imputer.transform(x[:, :])

In [0]:
x = x.fillna(x.mean())

In [40]:
x.columns[x.isnull().any()]

Index([], dtype='object')

In [0]:
a = x.pop('Col747')
a = x.pop('Col836')

In [0]:
test = test.fillna(test.mean())

In [46]:
test.columns[test.isnull().any()]

Index(['Col702', 'Col733', 'Col742', 'Col754', 'Col763', 'Col791', 'Col813',
       'Col822', 'Col831', 'Col843', 'Col852'],
      dtype='object')

In [0]:
a = x.pop('Col702')
a = x.pop('Col733')
a = x.pop('Col742')
a = x.pop('Col754')
a = x.pop('Col763')
a = x.pop('Col791')
a = x.pop('Col813')
a = x.pop('Col822')
a = x.pop('Col831')
a = x.pop('Col843')
a = x.pop('Col852')

In [0]:
a = test.pop('Col702')
a = test.pop('Col733')
a = test.pop('Col742')
a = test.pop('Col754')
a = test.pop('Col763')
a = test.pop('Col791')
a = test.pop('Col813')
a = test.pop('Col822')
a = test.pop('Col831')
a = test.pop('Col843')
a = test.pop('Col852')


a = test.pop('Col747')
a = test.pop('Col836')

In [49]:
print(x.shape)
print(test.shape)

(17521, 2380)
(20442, 2380)

In [0]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data = scaler.fit_transform(x)

In [0]:
test = scaler.fit_transform(test)

In [54]:
from sklearn.linear_model import LassoCV
model_lasso = LassoCV(alphas =  [0.05, 0.1, 0.3, 1, 3, 5, 10, 15, 30, 50, 75]).fit(data , y)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [55]:
model_lasso

LassoCV(alphas=[0.05, 0.1, 0.3, 1, 3, 5, 10, 15, 30, 50, 75], copy_X=True,
        cv='warn', eps=0.001, fit_intercept=True, max_iter=1000, n_alphas=100,
        n_jobs=None, normalize=False, positive=False, precompute='auto',
        random_state=None, selection='cyclic', tol=0.0001, verbose=False)

In [0]:
lasso_preds = model_lasso.predict(test)

In [57]:
lasso_preds

array([0.10050796, 0.10050796, 0.10050796, ..., 0.10050796, 0.10050796,
       0.10050796])

In [0]:
lasso_preds = np.round(lasso_preds.T)

In [72]:
submit.head()

        Col1  Col2
0  RIGD58ZWD   0.0
1  RIH660YDS   0.0
2  RIH660Q96   0.0
3  RIYDO15W1   0.0
4  RIYBGC1ZD   0.0

In [0]:
submit['Col2'] = lasso_preds

In [0]:
submit.to_csv("answer_1.csv", index = False)